@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hina Mincho', serif;
}

body .preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    /* color: red; */
      z-index: 10;
      transition: 1s;
}

.preloader:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #091921;
    transition: 1s;
    
}
.preloader.complete:before{
    left: -50%;
}
.preloader:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #091921;
    transition: 1s;
    
}

.loader{
    position: absolute;
    width: 120px;
    height: 120px;
    /* background: red; */
    z-index: 1;
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(var(--i) * 18deg));
}

.loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
}

.rocket{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    animation-delay: -1s;
}


@keyframes rotating {
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(370deg);
    }
}

.rocket::before{
    content: '\f135';
    font-family: fontAwesome;
    position: absolute;
    top: 80px;
    left: 85px;
    color: #fff;
    font-size: 60px;
    transform: rotate(180deg);

}

@keyframes animate {
    0%{
       transform: scale(0); 
    }
    50%{
        transform: scale(1.2); 
     }
     80%,100%{
        transform: scale(0); 
     }
    
}

.preloader.complete:after{
    right: -50%;
}

.preloader.complete{
    opacity: 0;
    visibility: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
    flex-direction: column;
}

body.dark{
    background: #091921;
}

body.dark h1{
    color: #fff;
}

.below{
    position: relative;
    width: 400px;
    height: 10px;
    display: flex;
}

.below span{
    height: 10px;
    width: 10px;
    background-color: #ff669a;
    margin: auto;
    border-radius: 50%;
}

.below span.animSpan{
    animation: playingmusic 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

body.dark .below span{
    background-color: aqua;
}

@keyframes playingmusic {
    0%{
       transform: scale(0); 
    }
    50%{
        transform: scale(1.2); 
     }
     80%,100%{
        transform: scale(0); 
     }
    
}


body.dark .music{
    border: 4px solid #091921;
    background: #091921;
    box-shadow: 
        -10px -10px 15px #091921,
        10px 10px 15px rgba(255 255 255 / 0.1),
        -10px -10px 15px rgba(255 255 255 / 0.1),
        inset -5px -5px 15px #091921,
        inset 5px 5px 15px rgba(255 255 255 / 0.15),
        inset -5px -5px 15px #091921,
        inset -10px -10px 15px rgba(255 255 255 / 0.15)
    ;

}

body.dark .music .title{
    color: aqua;
}

body h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    
    overflow: hidden;
}

.music{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    border: 1px solid #fff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    background: #f9f9f9;
    box-shadow: 
        -10px -10px 15px #fff,
        10px 10px 15px rgba(0 0 0 / 0.1),
        inset -5px -5px 15px #fff,
        inset 5px 5px 15px rgba(0 0 0 / 0.1)
    ;
}
.music .image{
    /* background: #38a7ff; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 200px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 
        inset 0 -5px 5px rgba(0 0 0 / 0.1),
        0 5px 10px rgba(0 0 0 / 0.1),
        0 10px 15px rgba(0 0 0 / 0.1);
}
body.dark .music .image{
    border: 4px solid #091921;
    box-shadow: 
        inset 0 -5px 5px rgba(255 255 255 / 0.1),
        0 5px 10px rgba(255 255 255 / 0.1),
        0 10px 15px rgba(255 255 255 / 0.1);
}
.music .title{
    font-weight: 500;
    font-size: 2em;
    color: #ff669a;
    display: inline-flex;
    text-align: center;
    margin-bottom: 20px;
}
.music .player{
    position: relative;
    width: 500px;
    min-height: 100px;
    background: #f9f9f9;
    border-radius: 80px;
    border: 2px solid #fff;
    padding: 10px;
    box-shadow: 
        -10px -10px 15px #fff,
        10px 10px 15px rgba(0 0 0 / 0.1),
        inset -5px -5px 15px #fff,
        inset 5px 5px 15px rgba(0 0 0 / 0.1)
    ;
} 
body.dark .music .player{
    background:#091921;
    box-shadow: 
        -10px -10px 15px #091921,
        10px 10px 15px rgba(255 255 255 / 0.1),
        inset -5px -5px 15px #091921,
        inset 5px 5px 15px rgba(255 255 255 / 0.1)
    ;
    border: 5px solid #091921;
}
.music .player .btns{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background: ; */
}
.music .player .btns span{
    position: relative;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    cursor: pointer;
    box-shadow: 
        inset 0 -5px 5px rgba(0 0 0 / 0.1),
        0 5px 10px rgba(0 0 0 / 0.1),
        0 10px 15px rgba(0 0 0 / 0.1);

}
body.dark .music .player .btns span{
    background: #091921;
    box-shadow: 
        inset 0 -5px 5px rgba(255 255 255 / 0.1),
        0 5px 10px rgba(255 255 255 / 0.1),
        0 10px 15px rgba(255 255 255 / 0.1);
    color: #fff;    
}
.music .player .btns span:active,
.music .player .btns span.active{
    color: #ff669a;
    box-shadow: 
        inset 0 -7px 5px rgba(0 0 0 / 0.25),
        inset 0 5px 10px rgba(0 0 0 / 0.15);
}

body.dark .music .player .btns span:active,
body.dark .music .player .btns span.active{
    color: aqua;
    box-shadow: 
        inset 0 -7px 5px rgba(255 255 255 / 0.25),
        inset 0 5px 10px rgba(255 255 255 / 0.15);
}

.music .player .btns span.playPause{
    width: 100px;
    height: 100px;
    text-align: center;
}

.music .player .btns span ion-icon{
    font-size: 2em;
}

.music .player .btns span.playPause ion-icon{
    font-size: 3em;
}
.music .extrabtns{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
    margin-top: 10px;
    /* background-color: #ff669a; */
    height: 100px;
    padding: 5px;
}

.music .extrabtns span,a{
    position: relative;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    cursor: pointer;
    box-shadow: 
        inset 0 -5px 5px rgba(0 0 0 / 0.1),
        0 5px 10px rgba(0 0 0 / 0.1),
        0 10px 15px rgba(0 0 0 / 0.1);
}

body.dark .music .extrabtns span,
body.dark .music .extrabtns a{
    background: #091921;
    color: #fff;
    box-shadow: 
        inset 0 -5px 5px rgba(255 255 255 / 0.1),
        0 5px 10px rgba(255 255 255 / 0.1),
        0 10px 15px rgba(255 255 255 / 0.1);
}

.music .extrabtns span,
.music .extrabtns a{
    font-size: 2em;
    color: #777;
}

.music .extrabtns span:active,
.music .extrabtns a:active{
    color: #ff669a;
    box-shadow: 
        inset 0 -7px 5px rgba(0 0 0 / 0.25),
        inset 0 5px 10px rgba(0 0 0 / 0.15);
}

body.dark .music .extrabtns span:active,
body.dark .music .extrabtns a:active{
    color: aqua;
    box-shadow: 
        inset 0 -7px 5px rgba(255 255 255 / 0.25),
        inset 0 5px 10px rgba(255 255 255 / 0.15);
}

@media screen and (max-width:600px) {
    .music{
        width: 100%;
    }
    .music .player {
        max-width: 310px;
    }
}
